<!-- appmodal -->
<!--<div role="document" class="modal-dialog">--><!--üstten alttan margin açıyor-->
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4> <!-- activeModal.dismiss('Cross click') -->
      <button type="button" class="close" aria-label="Close" (click)="fiModal.dismiss('Cross Click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ng-content></ng-content>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="fiModal.close('Close click')">Kapat</button>
      <!-- <button type="button" class="btn btn-outline-dark" (click)="fiModal.close('Close click')">fiModal.close</button> -->
    </div>
  </div>
<!--</div>-->
