<!--<form #tableForm="ngForm">-->
<table class="table-responsive-sm fiTable" ngClass="{{config.className || ''}}" style="width: 100%; table-layout: fixed;">
    <!-- role="grid", class dan dataTable çıkarıldı -->
    <colgroup>
        <col *ngFor="let column of columns" [ngStyle]="{ 'width' : column.prefSize, 'min-width': column.minSize }">
    </colgroup>

    <thead>
    <tr role="row">
        <!-- ngtablesorting directive -->
        <th #fiTableHeader *ngFor="let column of columns" [fiTableSorting]="config" [column]="column"
            (sortChanged)="onSortTable($event)"
            ngClass="{{column.className || ''}}" >
            {{styleFiTableHeader(fiTableHeader,column)}}
            {{column.title}}
            <i *ngIf="config && column.sort" class="pull-right fa"
               [ngClass]="{'fa-chevron-down': column.sort === 'desc', 'fa-chevron-up': column.sort === 'asc'}"></i>
        </th>
    </tr>

    <tr *ngIf="showFilterRow">
        <td *ngFor="let column of columns">
            <input #filterComp *ngIf="column.filtering || config.filterAuto"
                   placeholder="{{column.filtering?.placeholder}}"
                   [ngTableFiltering]="column.filtering"
                   class="form-control" style="width: auto;" (tableChanged)="filterAndSortTable()"
                   (keyup.enter)="onFilterUserAction(column,filterComp)"
            />
        </td>
    </tr>
    </thead>

    <tbody>

    <tr #fiTableTr *ngFor="let row of rowsFiltered | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize"
        [class.active]="currentItem===row" (click)="rowClick($event,row)">
        {{styleTableRow(fiTableTr,row)}}
        <td #fiTableTd (click)="cellClick(row, column.field)" *ngFor="let column of columns"
            ngClass="{{column.colClassName || ''}}">
            {{styleTableCell(fiTableTd,column)}}
            <!--{{column.editorType}}<br>-->

            <ng-template [ngIf]="!column.editorType">

                <ng-template [ngIf]="column.colType===fiColtype.double">
                    <span [innerHtml]="sanitize(getData(row, column))"></span>
                </ng-template>

                <ng-template [ngIf]="column.colType===fiColtype.integer">
                    <span [innerHtml]="sanitize(getData(row, column))"></span>
                </ng-template>

                <ng-template [ngIf]="column.colType===fiColtype.date">
                    {{ getData(row,column) | date : dateFormat }}
                </ng-template>

                <ng-template [ngIf]="column.colType===fiColtype.string">
                    <span [innerHtml]="sanitize(getData(row, column))"></span>
                </ng-template>

                <ng-template [ngIf]="column.colType===fiColtype.boolean">
                    <span [innerHtml]="sanitize(getData(row, column))"></span>
                </ng-template>

                <ng-template [ngIf]="column.colType===undefined">
                    <span [innerHtml]="sanitize(getData(row, column))"></span>
                </ng-template>

                <!--<span *ngIf="column.colType==ozcoltype.boolean">
                <input type="checkbox" [value]="row[column.field]">
                </span>-->
            </ng-template>

            <ng-template [ngIf]="column.editorType===fiEditorType.Button">
                <button class="btn" #fiButton
                        (click)="column.editorAction(row,null,column,fiButton)">{{column.editorHeader}}{{editorUserRenderer(column, row, null, fiButton)}}</button>
            </ng-template>

        </td>

    </tr>

    </tbody>

    <ngb-pagination
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="rowsFiltered.length"
            (pageChange)="pageChanged(config,$event)">
    </ngb-pagination>
</table>
<!--[(ngModel)]="column.filtering.filterValue"
[ngModelOptions]="{standalone: true}"
-->
<!--</form>-->
