<!--<form #tableForm="ngForm">-->

<ng-template [ngIf]="innerWidth>=600">

  <div #tableDiv style="width:content-box; overflow-y:scroll;overflow-x: hidden"
       [ngStyle]="{'height': getTableHeight()}">
    <table class="table-responsive-sm fiTable fixed_header" ngClass="{{fimodal.className || ''}}"
           style="width: 100%; table-layout: fixed;">
      <!-- role="grid", class dan dataTable çıkarıldı -->

      <thead style="">

      <tr role="row">
        <!-- ngtablesorting directive -->
        <th #fiTableHeader *ngFor="let column of fimodal.getColumns()" [fiTableSorting]="fimodal" [column]="column"
            (sortChanged)="onSortTable($event)"
            [ngStyle]="{ 'width' : column.prefSize, 'min-width': column.minSize }"
            ngClass="{{column.className || ''}}">
          {{styleTableHeader(fiTableHeader, column)}}
          {{column.header}}
          <i *ngIf="fimodal && column.sortStatus" class="pull-right fa"
             [ngClass]="{'fa-chevron-down': column.sortStatus === 'desc', 'fa-chevron-up': column.sortStatus === 'asc'}"></i>
        </th>
      </tr>
      <!--[ngTableFiltering]="column.filtering" -->
      <tr *ngIf="fimodal.showFilterRow">
        <td *ngFor="let column of fimodal.getColumns()">
          <input #filterComp *ngIf="column.filterable || column.filtering || fimodal.filterAuto"
                 placeholder="{{column.filterPlaceholder}}"
                 [ngTableFiltering]="column"
                 [ngTableFiltering]="column"
                 class="form-control" style="width: auto;" (filterChanged)="onFilterAndSortTable(column)"
                 (keyup.enter)="onFilterEnterAction(column,filterComp)"/>
        </td>
      </tr>

      </thead>

      <tbody>

      <!---->
      <!--{{column.editorType}}<br>-->

      <ng-container *ngFor="let row of fimodal.rowsSliced">

        <tr #fiTableTr (click)="onRowClick($event,row)"
            [class.active]="fimodal.currentItemId && fimodal.currentItemId===row['fiIndex']">
          {{styleTableRow(fiTableTr, row)}}
          <td #fiTableTd (click)="onCellClick(row, column.field)" *ngFor="let column of fimodal.getColumns()"
              ngClass="{{column.colClassName || ''}}">
            {{styleTableCell(fiTableTd, column)}}
            <fi-table-cell [column]="column" [row]="row"></fi-table-cell>
          </td>
        </tr>


      </ng-container>


      </tbody>

    </table>

  </div>
  <ng-template [ngIf]="checkPaginationEnable()">
    <div id="pagePanel" class="mt-3">
      <ngb-pagination #ngbPagination
                      [(page)]="fimodal.page"
                      [pageSize]="fimodal.pageSize" [ellipses]="true"
                      [collectionSize]="fimodal.totalDataLength" [maxSize]="10" [boundaryLinks]="true"
                      (pageChange)="onChangePage(fimodal,$event,ngbPagination,tableDiv)">
      </ngb-pagination>
      <!--<ng-template [ngIf]="!fimodal.pagingDisable">
        <app-fi-paging [totalLength]="totalDataLength"></app-fi-paging>
      </ng-template>-->
    </div>
  </ng-template>

</ng-template>
<!-- Mobil Tema için -->
<ng-template [ngIf]="innerWidth<600">

  <button class="btn btn-secondary" (click)="toggleFiltre()">Filtre</button>
  <div #tableDivMobile style="width:100%; height:70vh; overflow-y:scroll;overflow-x: hidden">
    <table class="table-responsive fiTable" ngClass="{{fimodal.className || ''}}"
           style="width: 100%; table-layout: fixed;">
      <!-- role="grid", class dan dataTable çıkarıldı -->

      <tbody>

      <tr [hidden]="filterStatus">

        <table class="table-bordered borderMedium" style="width: 100%; table-layout: fixed;">
          <!-- ngtablesorting directive -->
          <tr *ngFor="let column of fimodal.getColumns()">

            <td #fiTableHeader [fiTableSorting]="fimodal" [column]="column"
                (sortChanged)="onSortTable($event)"
                ngClass="{{column.className || ''}}">
              {{styleTableHeader(fiTableHeader, column)}}
              {{column.header}}
              <i *ngIf="fimodal && column.sortStatus" class="pull-right fa"
                 [ngClass]="{'fa-chevron-down': column.sortStatus === 'desc', 'fa-chevron-up': column.sortStatus === 'asc'}"></i>
            </td>


            <td>
              <ng-template [ngIf]="fimodal.showFilterRow">

                <input #filterComp *ngIf="column.filtering || fimodal.filterAuto"
                       placeholder="{{column.filtering?.placeholder}}"
                       [ngTableFiltering]="column.filtering"
                       class="form-control" style="width: auto;" (filterChanged)="onFilterAndSortTable(column)"
                       (keyup.enter)="onFilterEnterAction(column,filterComp)"
                />

              </ng-template>
            </td>
          </tr>
        </table>

      </tr>

      <tr class="" #fiTableTr
          *ngFor="let row of fimodal.rowsFiltered
          | slice: (fimodal.page-1) * fimodal.pageSize : (fimodal.page-1) * fimodal.pageSize + fimodal.pageSize;index as rowIndex"
          [class.highlightRow]="rowIndex%2==0"
          [class.active]="fimodal.currentItem===row" (click)="onRowClick($event,row)">
        {{styleTableRow(fiTableTr, row)}}

        <table class="table-bordered borderMedium" style="width: 100%; table-layout: fixed;">
          <!-- ngtablesorting directive -->
          <tr *ngFor="let column of fimodal.getColumns()">
            <td #fiTableHeader
                ngClass="{{column.className || ''}}">
              {{styleTableHeader(fiTableHeader, column)}}
              {{column.header}}
              <i *ngIf="fimodal && column.sortStatus" class="pull-right fa"
                 [ngClass]="{'fa-chevron-down': column.sortStatus === 'desc', 'fa-chevron-up': column.sortStatus === 'asc'}"></i>
            </td>

            <td #fiTableTd (click)="onCellClick(row, column.field)"
                ngClass="{{column.colClassName || ''}}">
              {{styleTableCell(fiTableTd, column)}}
              <!--{{column.editorType}}<br>-->
              <fi-table-cell [column]="column" [row]="row"></fi-table-cell>
            </td>
          </tr>
        </table>

      </tr>

      </tbody>

    </table>

    <ng-template [ngIf]="checkPaginationEnable()">
      <ngb-pagination #ngbPagination
                      [(page)]="fimodal.page"
                      [pageSize]="fimodal.pageSize"
                      [collectionSize]="fimodal.totalDataLength"
                      (pageChange)="onChangePage(fimodal,$event,ngbPagination,tableDivMobile)">
      </ngb-pagination>
    </ng-template>
  </div>

</ng-template>


