

/*.numbercol{
    text-align: right; 
    color: red;
}*/

tr.active {
  background-color: lightblue;
}

table td {
  /*overflow: hidden;*/
}

.fiTable {

}

th {
  position:sticky;
  top:0;
  border: 1px solid #000;
  background-color: lightgray;
}


.highlightRow {
  background-color: #fcf8e3;
  /*border-color: #00b3ee;*/
}

.borderMedium {
  /*border-width:1px;  !*solid black;*!*/
  border-bottom-width: 2px;
  border-color: #dc3545;
}
