<!--<form #tableForm="ngForm">-->

<ng-template [ngIf]="innerWidth>=600">

  <div #tableDiv style="width:100%; overflow-y:scroll;overflow-x: hidden" [ngStyle]="{'height': getTableHeight()}">
    <table class="table-responsive-sm fiTable fixed_header" ngClass="{{fimodal.className || ''}}"
           style="width: 100%; table-layout: fixed;">
      <!-- role="grid", class dan dataTable çıkarıldı -->

      <colgroup>
        <col *ngFor="let column of columns" [ngStyle]="{ 'width' : column.prefSize, 'min-width': column.minSize }">
      </colgroup>

      <thead style="">

      <tr role="row">
        <!-- ngtablesorting directive -->
        <th #fiTableHeader *ngFor="let column of columns" [fiTableSorting]="fimodal" [column]="column"
            (sortChanged)="onSortTable($event)"
            ngClass="{{column.className || ''}}">
          {{styleFiTableHeader(fiTableHeader, column)}}
          {{column.header}}
          <i *ngIf="fimodal && column.sortStatus" class="pull-right fa"
             [ngClass]="{'fa-chevron-down': column.sortStatus === 'desc', 'fa-chevron-up': column.sortStatus === 'asc'}"></i>
        </th>
      </tr>

      <tr *ngIf="showFilterRow">
        <td *ngFor="let column of columns">
          <input #filterComp *ngIf="column.filtering || fimodal.filterAuto"
                 placeholder="{{column.filtering?.placeholder}}"
                 [ngTableFiltering]="column.filtering"
                 class="form-control" style="width: auto;" (tableChanged)="filterAndSortTable(column)"
                 (keyup.enter)="onFilterUserAction(column,filterComp)"
          />
        </td>
      </tr>

      </thead>

      <tbody>

      <ng-template>
        <!--slice pipe -->
        <!--| slice: (page-1) * pageSize : (page-1) * pageSize + pageSize -->
      </ng-template>

      <tr #fiTableTr *ngFor="let row of rowsSliced"
          [class.active]="currentItem===row" (click)="onRowClick($event,row)">
        {{styleTableRow(fiTableTr, row)}}
        <td #fiTableTd (click)="onCellClick(row, column.field)" *ngFor="let column of columns"
            ngClass="{{column.colClassName || ''}}">
          {{styleTableCell(fiTableTd, column)}}
          <!--{{column.editorType}}<br>-->
          <fi-table-cell [column]="column" [row]="row"></fi-table-cell>
        </td>

      </tr>
      
      </tbody>

    </table>

  </div>
  <div class="mt-3">
    <ng-template [ngIf]="!fimodal.pagingDisable">
      <ngb-pagination #ngbPagination
                      [(page)]="page"
                      [pageSize]="pageSize" [ellipses]="true"
                      [collectionSize]="totalDataLength" [maxSize]="10" [boundaryLinks]="true"
                      (pageChange)="onChangePage(fimodal,$event,ngbPagination,tableDiv)">
      </ngb-pagination>
    </ng-template>
  </div>
</ng-template>

<ng-template [ngIf]="innerWidth<600">

  <button class="btn btn-secondary" (click)="toggleFiltre()">Filtre</button>
  <div #tableDivMobile style="width:100%; height:70vh; overflow-y:scroll;overflow-x: hidden">
    <table class="table-responsive fiTable" ngClass="{{fimodal.className || ''}}"
           style="width: 100%; table-layout: fixed;">
      <!-- role="grid", class dan dataTable çıkarıldı -->

      <tbody>

      <tr [hidden]="filterStatus">

        <table class="table-bordered borderMedium" style="width: 100%; table-layout: fixed;">
          <!-- ngtablesorting directive -->
          <tr *ngFor="let column of columns">

            <td #fiTableHeader [fiTableSorting]="fimodal" [column]="column"
                (sortChanged)="onSortTable($event)"
                ngClass="{{column.className || ''}}">
              {{styleFiTableHeader(fiTableHeader, column)}}
              {{column.header}}
              <i *ngIf="fimodal && column.sortStatus" class="pull-right fa"
                 [ngClass]="{'fa-chevron-down': column.sortStatus === 'desc', 'fa-chevron-up': column.sortStatus === 'asc'}"></i>
            </td>


            <td>
              <ng-template [ngIf]="showFilterRow">

                <input #filterComp *ngIf="column.filtering || fimodal.filterAuto"
                       placeholder="{{column.filtering?.placeholder}}"
                       [ngTableFiltering]="column.filtering"
                       class="form-control" style="width: auto;" (tableChanged)="filterAndSortTable(column)"
                       (keyup.enter)="onFilterUserAction(column,filterComp)"
                />

              </ng-template>
            </td>
          </tr>
        </table>

      </tr>

      <tr class="" #fiTableTr
          *ngFor="let row of rowsFiltered | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;index as rowIndex"
          [class.highlightRow]="rowIndex%2==0"
          [class.active]="currentItem===row" (click)="onRowClick($event,row)">
        {{styleTableRow(fiTableTr, row)}}

        <table class="table-bordered borderMedium" style="width: 100%; table-layout: fixed;">
          <!-- ngtablesorting directive -->
          <tr *ngFor="let column of columns">
            <td #fiTableHeader
                ngClass="{{column.className || ''}}">
              {{styleFiTableHeader(fiTableHeader, column)}}
              {{column.header}}
              <i *ngIf="fimodal && column.sortStatus" class="pull-right fa"
                 [ngClass]="{'fa-chevron-down': column.sortStatus === 'desc', 'fa-chevron-up': column.sortStatus === 'asc'}"></i>
            </td>

            <td #fiTableTd (click)="onCellClick(row, column.field)"
                ngClass="{{column.colClassName || ''}}">
              {{styleTableCell(fiTableTd, column)}}
              <!--{{column.editorType}}<br>-->
              <fi-table-cell [column]="column" [row]="row"></fi-table-cell>
            </td>
          </tr>
        </table>

      </tr>

      </tbody>

    </table>

    <ng-template [ngIf]="!fimodal.pagingDisable">
      <ngb-pagination #ngbPagination
                      [(page)]="page"
                      [pageSize]="pageSize"
                      [collectionSize]="getLength()"
                      (pageChange)="onChangePage(fimodal,$event,ngbPagination,tableDivMobile)">
      </ngb-pagination>

    </ng-template>
  </div>

</ng-template>


